.col-lg-4
        {
         display: flex;
         padding:10px;
        }

.box{
  margin-top: 60px;
  border: 3px solid;
  border-color: orange;
  background-color: rgb(253, 179, 41);
  position: relative;
  width: 100%;
  height:600px;
}
.box1
{
  
  margin-top: -480px;
  margin-left: 90px;
  border: 3px solid;
  border-color: rgb(0, 0, 0);
  background-color:rgb(255, 195, 84);
  position: absolute;
  width:1320px;
  height:400px;
}
.box2
{
  margin-top: 100px;
  margin-left: 570px;
  border: 3px solid;
  border-color: rgb(255, 195, 84);
  background-color:rgb(255, 195, 84);
  position: absolute;
  width:200px;
  height:200px;
}

.box3{
  margin-top: 60px;
  border: 3px solid;
  border-color: orange;
  background-color: rgb(253, 179, 41);
  position: relative;
  width: 100%;
  height:700px;
} 
.inside{
  margin-top: 60px;
  margin-left: 60px;
  border: 3px solid;
  border-color: black;
  background-color: orange;
  position: absolute;
  width:418px;
  height:96px;
  font-size: 30px;
}
.insidea
{
  margin-top: 60px;
  margin-left: 520px;
  align-items: center;
  border: 3px solid;
  border-color: black;
  background-color: orange;
  position: absolute;
  width:418px;
  height:96px;
  font-size: 30px;
}
.insideb
{
  margin-top: 60px;
 margin-left: 67%;
  align-items: center;
  border: 3px solid;
  border-color: black;
  background-color: orange;
  position: absolute;
  width:418px;
  height:96px;
  font-size: 30px;
}
.inside1{
  margin-top: 50px;
  bottom:11px;
  margin-left:60px;
  border: 3px solid;
  border-color: black;
  background-color: orange;
  position: relative;
  width:290px;
  height:190px;
}
.inside2{
  margin-top: 30px;
  bottom:11px;
  margin-left: 60px;
  border: 3px solid;
  border-color: black;
  background-color: orange;
  position: relative;
  width:290px;
  height:190px;
}
.inside3{
  bottom: 290px;
  margin-left: 610px;
  border: 3px solid;
  border-color: black;
  background-color: orange;
  position: absolute;
  width:290px;
  height:190px;
}

.inside4{
  bottom: 70px;
  margin-left: 610px;
  border: 3px solid;
  border-color: black;
  background-color: orange;
  position: absolute;
  width:290px;
  height:190px;
}

.inside5{
  bottom: 420px;
  margin-left: 1130px;
  border: 3px solid;
  border-color: black;
  background-color: orange;
  position: relative;
  width:290px;
  height:190px;
}
.inside6{
  bottom:391px;
  margin-left: 1130px;
  border: 3px solid;
  border-color: black;
  background-color: orange;
  position: relative;
  width:290px;
  height:190px;
}
.inside7{
top:100px;
  margin-left: 995px;
  border: 3px solid;
  border-color: black;
  background-color: orange;
  position: relative;
  width:479px;
  height:427px;
}

.inside8{
  
    margin-left: 100px;
    border: 3px solid;
    border-color: black;
    background-color: orange;
    position: relative;
    width:678px;
    height:427px;
  }
.absolute
{
  position: absolute;
  margin-top: 80px;
  left:60px;
  width:490px;
  height:345px;
  border:3px solid ;
  font-size: 30px;
  background-color: orange;
  text-align: center;
 
}
.absolute1
{
  top: -125px;
  margin-left: 630px;
  border: 3px solid;
  border-color: black;
  background-color: orange;
  position: relative;
  width:781px;
  height:322px;
 
}

.heading
{
  
  align-items: center;
}
.text
{
 
  margin-top: 50px;
  align-items: center;
}
.decision
{
  margin-top: 20px;
  margin-left:100px;
  align-items: center;
}
.entertain
{
  margin-top: 20px;
  margin-left:110px;
  align-items: center;
  
}
.replay
{
  margin-top: 20px;
  margin-left:120px;
  align-items: center;
  
}

.text4
{
  margin-top: 130px;
  margin-left:100px;
  font-size: 30px;
  align-items: center;
  
}

.text5
{
  margin-top: 270px;
  margin-left:505px;
  font-size: 20px;
  align-items: center;
  
}
.heading1
{
  margin-top: 30px;
  margin-left:695px;
  font-size: 30px;
}
.heading2
{
  margin-top: -485px;
  margin-bottom: 200px;
  margin-left:660px;
 
  font-size: 30px;
}

.heading3
{
  margin-top: 30px;
  margin-left:635px;
 
  font-size: 30px;
}

.heading4
{
  margin-top: 30px;
  margin-left:590px;
 
  font-size: 30px;
}

.logo1
{
  margin-top: 80px;
  margin-left:200px;
}

.logo2
{
  margin-top: -155px;
  margin-left:670px;
}

.logo3
{
  margin-top: -255px;
  margin-left:1130px;
}
.logo4
{
margin-top: 115px;
  margin-left:60px;
}
.logo5
{
  margin-top:10px;
  margin-left:-5px;
}
.logo6
{
  margin-top:530px;
  margin-left:640px;
}
.logo7
{
  margin-top:-30px;
  margin-left:720px;
}
.logo8
{
  margin-top:-30px;
  margin-left:800px;
}
.logo9
{
  margin-top:-30px;
  margin-left:880px;
}

.logo10
{
  margin-top: -8px;
  margin-left:400px;
}

.logo11
{
  margin-top:-25px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.decision .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 45%;
  margin-left: -60px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.decision:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.entertain .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 45%;
  margin-left: -60px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.entertain:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.replay .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 45%;
  margin-left: -60px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.replay:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

